
/*-----Fonts------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*------General------*/
.wrapper {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   text-align: center;
   color: #FFFFFF;

   overflow-x: hidden;
   height: 100vh;
   background: url('../img/background1.png') no-repeat center;
   background-size: cover;
}
.container{
   max-width: 1028px;
   margin: 0 auto;
}
/*------Header------*/
.header {
   margin: 46px auto 17px auto;
   min-height: 61px;
   display: flex;
   justify-content:space-between;
   align-items: center;
}
.header__logo {
   display: flex;
   max-height: 51px;
   text-align: left;
   justify-content: space-between;
   transition-duration: 0.5s;
}
.header__logo-img{
   width: 53px;
   height: 47px;
   transition-duration: 0.5s;
   background: url(../img/logo\ 3.svg);
   margin-bottom: 4px;
   
}
.header__logo:hover > .header__logo-img{
   transition-duration: 0.5s;
   background: url(../img/logo\ 2.svg);
}
.header__logo-text{
   padding-left: 8px;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 29px;
   line-height: 29px;
   color: #FFFFFF;
   transition-duration: 0.5s;
}
.header__logo:hover > .header__logo-text{
   transition-duration: 0.5s;
   color: #F26522;
}
.header__logo-text-small{
   font-size: 18px;
   line-height: 21px;
}
.header__nav {
   min-height: 61px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   text-align: right;
   font-weight: 400;
   font-size: 18px;
   line-height: 18px;
}
.header__nav a {
   color: #FFFFFF;
   transition-duration: 0.5s;
}
.header__nav a:hover {
   transition-duration: 0.5s;
   color: #F26522;
}
/*------Main content------*/
.main {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.main__card{
   transition-duration: 0.5s;
   position: relative;
   padding-left: 4px;
   overflow: hidden;
}
.main__card:hover{
   transition-duration: 0.5s;
   color: #F26522;
}
.main__card img{
   width: 300px;
   height: 220px;
   border-width: 0 2px;
   border-style: solid;
   border-image: 
      linear-gradient(
         to bottom, 
         rgba(255, 255, 255, 1), 
         rgba(255, 255, 255, 0)
      ) 1 100%;
}
.main__card-text{
   font-size: 18px;
   line-height: 21px;
   margin: 20px 0 40px 0;
}
.main__card-hover {
   position: absolute;
   top: 170px;
   left: -296px;
   /* display: none; */
   display: flex;
   justify-content:space-between;
   align-items: center;
   text-align: left;
   min-height: 55px;
   width: 296px;
   background: #F26522;
   transition-duration: 0.5s;
}
.main__card:hover > .main__card-hover{
   transition-duration: 0.5s;
   left: 6px;
   /* display: flex; */
}
.main__card-hover-price {
   padding-left: 16px;
   font-size: 10px;
   line-height: 10px;
   color: #FFFFFF;
}
.main__card-hover-price-big{
   padding-top: 8px;
   font-size: 20px;
   line-height: 20px
}
.main__card-hover-details {
   padding: 29px 37px 0 0;
   position: relative;
   align-self: start;
   font-size: 14px;
   line-height: 14px;
   color: #FFFFFF;
}
.main__card-hover-details::after {
   content: "";
   position: absolute;
   left: 94px;
   top: 31px;
   width: 5px;
   height: 10px;
   background-image: url('../img/Vector\ 1.png');
   background-size: 5px 10px;
}
/*------Footer------*/
.footer {
   font-size: 12px;
   line-height: 12px;
   margin: 12px auto 15px auto;
}
